    body {
            margin: 0;
            background: #000;
            color: #fff;
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 24px;
            margin-top: 20px;
           text-align : center;
      }
        h2 {
          text-align : center;
        }

        iframe {
            width: 100vw;
            height: 56.25vw; /* 16:9 aspect ratio */
            max-height: 100vh;
            border: none;
            background: #000;
        }

        .category {
            display: none; /* Initially hide all categories */
            margin: 20px;
            text-align: center;
        }

        .active {
            display: block; /* Show the active category */
        }

        .server-button {
            padding: 10px 20px;
            margin: 5px;
            background-color: #000;
            border: 1px solid #fff;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            transition: background 0.3s;
        }

        .server-button:hover {
            background-color: #8888;
        }

        .text-box {
            margin-top: 10px;
            font-size: 16px;
        }
      
      .text-box2 {
            background-color: #0000; /* White background for text box */
            padding: 10px 20px;
            font-size: 20px;
            font-weight: bold;
            color: #ffff;
            text-align : center;
              }

        .category-button {
    adding: 1px 24px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    text-align: center;
  }
.category-button: hover {
background-color: red;
}


.league-nav {
  margin-top: 0px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

      
      .nav-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 16px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-button:hover {
  background-color: transparent;
  transform: scale(1.05);
}

.league-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.league-icon:hover {
    background-color: #8888;
}

      
      .fallback {
      color: #fff;
      text-align: center;
       }
    
    
  .iptv-button {
    padding: 12px 24px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    text-align: center;
  }

  .iptv-button:hover {
    background-color: #8888;
  }
    .marquee {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      background-color: transparent;
      font-weight: bold;
      color: black;
      font-size: 18px;
    }

    .marquee span {
      display: inline-block;
      padding-left: 100%;
      animation: scroll 10s linear infinite;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    
